.z-form {
  display: flex;
  flex-direction: column;
}

.z-form__title {
  display: none;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 20px;
  font-weight: 500;
}

.z-form__field:not(:first-child) {
  margin-top: 30px;
}

.z-form__tip {
  margin-top: 12px;
  font-size: 12px;
  color: #979797;
}

.z-form__tip a {
  color: #008BF3;
  text-decoration: none;
}

.z-form__button {
  margin-top: 28px;
}

.z-form__error {
  color: red;
  font-size: 12px;
  text-align: center;
  margin-top: 4px;
}

.z-form__footer {
  margin-top: 24px;
  font-size: 12px;
  color: #979797;
}

.z-form__footer a {
  color: inherit;
}

@media screen and (max-width: 621px) {
  .z-form__title {
    display: inherit;
  }
  .z-form__field:not(:first-child) {
    margin-top: 36px;
  }

  .z-form__button {
    margin-top: 55px;
  }
}
